.line {
          fill: none;
          stroke: steelblue;
          stroke-width: 1.5px;
        }

       
        .tick {
            /*fill: none;
            stroke: #666;*/
            shape-rendering: crispEdges;
            /*stroke-dasharray: 2,2;*/
        }
		
		.axis path,
.axis line {
    fill: none;
    stroke: #D9D9D9;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.x_tick {

}

.x_highlight {
  fill: transparent;
  transition: all 150ms;
}

.x_label {
  fill: #000;
  transition: all 150ms;
}



.x_tick.active .x_highlight {
  fill: #232728;
}

.x_tick.active .x_label {

  fill: #fff;
}

.v_ruler {
	display: none;
}

.r_dotted {
  stroke: #ccc;
}

.tooltip {
  display: none;
  opacity: 0;
  position: absolute;
  color: #000;
  padding: 5px 10px;
  pointer-events: none;
  transform: translate(-50%, -100%);
  margin-top: -14px;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0,0,0,0.25);
  font-family: Arial;
}

.tooltip::after {
  content: " ";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  bottom: -5px;
}

.tooltip .inner {
  position: absolute;
  background: #ccc;
}
.tooltip .date,
.tooltip .data {
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
}
.tooltip .data span {
  color: #000;
  font-weight: normal;
}
